<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkageHinge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LinkageHinge.Properties.Settings>
            <setting name="BoxWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BoxHeight1" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="BoxHeight2" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Linkage1BottomX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Linkage1BottomY" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Linkage1TopX" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="Linkage1TopY" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Linkage2BottomX" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="Linkage2BottomY" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Linkage2TopX" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="Linkage2TopY" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>525</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
        </LinkageHinge.Properties.Settings>
    </userSettings>
</configuration>